<?xml version="1.0"?>
<launch>
  <arg name="robot_setup" default="astech"/>
  <arg name="simulation" default="false"/>

  <group if="$(arg simulation)">
    <!--Load robot model-->
    <include file="$(find tracebot_description)/launch/load_tracebot_description.launch">
        <arg name="robot_setup" value="$(arg robot_setup)"/>
    </include>

    <!--Load robot in Rviz-->
  </group>

  <!--Launch Rviz-->
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find tracebot_description)/config/tracebot.rviz"/>
</launch>
