<?xml version="1.0"?>
<robot xmlns:xacro="http://wiki.ros.org/xacro">
  <xacro:macro name="pump" params="robot_name holder_enabled:=true">
    <!-- Base -->
    <link name="${robot_name}_pump"/>

    <link name="${robot_name}_pump_body_link">
      <collision>
        <origin xyz="0.0 -0.0012 -0.063" rpy="0 0 0" />
        <geometry>
          <mesh filename="package://tracebot_description/meshes/components/pump_components/Pump_Body.stl" />
        </geometry>
      </collision>
      <visual>
        <origin xyz="0 -0.0012 -0.063" rpy="0 0 0"/>
        <geometry>
          <mesh filename="package://tracebot_description/meshes/components/pump_components/Pump_Body.dae" />
        </geometry>
        <material name="grey">
          <color rgba="0.6 0.6 0.6 1.0"/>
        </material>
      </visual>
    <inertial>
      <!-- The following are not reliable values, and should not be used for modeling -->
      <mass value="0.072"/>
      <origin xyz="0 0 0"/>
            <inertia ixx="0.012411765597" ixy="-0.000711733678" ixz="0.00050272983" iyy="0.015218160428" iyz="-0.000004273467" izz="0.011763977943"/>
    </inertial>
    </link>

    <link name="${robot_name}_pump_display_link">
      <collision>
        <origin xyz="0.0 0.0 0.0" rpy="0 0 0" />
        <geometry>
          <mesh filename="package://tracebot_description/meshes/components/pump_components/Pump_Display.stl" />
        </geometry>
      </collision>
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <mesh filename="package://tracebot_description/meshes/components/pump_components/Pump_Display.dae" />
        </geometry>
        <material name="grey">
          <color rgba="0.6 0.6 0.6 1.0"/>
        </material>
      </visual>
    <inertial>
      <!-- The following are not reliable values, and should not be used for modeling -->
      <mass value="0.072"/>
      <origin xyz="0 0 0"/>
            <inertia ixx="0.012411765597" ixy="-0.000711733678" ixz="0.00050272983" iyy="0.015218160428" iyz="-0.000004273467" izz="0.011763977943"/>
    </inertial>
    </link>

    <link name="${robot_name}_pump_head_link">
      <collision>
        <origin xyz="0.0 0.0 0.0" rpy="0 0 0" />
        <geometry>
          <mesh filename="package://tracebot_description/meshes/components/pump_components/Pump_Head.stl" />
        </geometry>
      </collision>
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <mesh filename="package://tracebot_description/meshes/components/pump_components/Pump_Head.dae" />
        </geometry>
        <material name="grey">
          <color rgba="0.6 0.6 0.6 1.0"/>
        </material>
      </visual>
    <inertial>
      <!-- The following are not reliable values, and should not be used for modeling -->
      <mass value="0.072"/>
      <origin xyz="0 0 0"/>
            <inertia ixx="0.012411765597" ixy="-0.000711733678" ixz="0.00050272983" iyy="0.015218160428" iyz="-0.000004273467" izz="0.011763977943"/>
    </inertial>
    </link>

    <xacro:if value="${holder_enabled}">
    <link name="${robot_name}_pump_holder_link">
      <collision>
        <origin xyz="0.0 0.0 0.0" rpy="0 0 0" />
        <geometry>
          <mesh filename="package://tracebot_description/meshes/components/pump_components/Pump_Holder.stl" />
        </geometry>
      </collision>
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <mesh filename="package://tracebot_description/meshes/components/pump_components/Pump_Holder.dae" />
        </geometry>
        <material name="grey">
          <color rgba="0.6 0.6 0.6 1.0"/>
        </material>
      </visual>
    <inertial>
      <!-- The following are not reliable values, and should not be used for modeling -->
      <mass value="0.072"/>
      <origin xyz="0 0 0"/>
            <inertia ixx="0.012411765597" ixy="-0.000711733678" ixz="0.00050272983" iyy="0.015218160428" iyz="-0.000004273467" izz="0.011763977943"/>
    </inertial>
    </link>

    <link name="${robot_name}_pump_holder_constraint_link">
      <collision>
        <origin xyz="0.0 0.0 0.0" rpy="0 0 0" />
        <geometry>
          <mesh filename="package://tracebot_description/meshes/components/pump_components/Pump_HolderConstrain.stl" />
        </geometry>
      </collision>
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <mesh filename="package://tracebot_description/meshes/components/pump_components/Pump_HolderConstrain.dae" />
        </geometry>
        <material name="grey">
          <color rgba="0.6 0.6 0.6 1.0"/>
        </material>
      </visual>
    <inertial>
      <!-- The following are not reliable values, and should not be used for modeling -->
      <mass value="0.072"/>
      <origin xyz="0 0 0"/>
            <inertia ixx="0.012411765597" ixy="-0.000711733678" ixz="0.00050272983" iyy="0.015218160428" iyz="-0.000004273467" izz="0.011763977943"/>
    </inertial>
    </link>

    <link name="${robot_name}_pump_metal_pipe_link">
    <inertial>
      <!-- The following are not reliable values, and should not be used for modeling -->
      <mass value="0.072"/>
      <origin xyz="0 0 0"/>
            <inertia ixx="0.012411765597" ixy="-0.000711733678" ixz="0.00050272983" iyy="0.015218160428" iyz="-0.000004273467" izz="0.011763977943"/>
    </inertial>
      <collision>
        <origin xyz="0.0 0.0 0.0" rpy="0 0 0" />
        <geometry>
          <mesh filename="package://tracebot_description/meshes/components/pump_components/Pump_MetalPipe.stl" />
        </geometry>
      </collision>
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <mesh filename="package://tracebot_description/meshes/components/pump_components/Pump_MetalPipe.dae" />
        </geometry>
        <material name="grey">
          <color rgba="0.6 0.6 0.6 1.0"/>
        </material>
      </visual>
    </link>
    </xacro:if>

    <link name="${robot_name}_pump_turn_knob_link">
    <inertial>
      <!-- The following are not reliable values, and should not be used for modeling -->
      <mass value="0.072"/>
      <origin xyz="0 0 0"/>
            <inertia ixx="0.012411765597" ixy="-0.000711733678" ixz="0.00050272983" iyy="0.015218160428" iyz="-0.000004273467" izz="0.011763977943"/>
    </inertial>
      <collision>
        <origin xyz="0.0 0.0 0.0" rpy="0 0 0" />
        <geometry>
          <mesh filename="package://tracebot_description/meshes/components/pump_components/Pump_TurnKnob.stl" />
        </geometry>
      </collision>
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <mesh filename="package://tracebot_description/meshes/components/pump_components/Pump_TurnKnob.dae" />
        </geometry>
        <material name="grey">
          <color rgba="0.6 0.6 0.6 1.0"/>
        </material>
      </visual>
    </link>

    <link name="${robot_name}_pump_two_bottle_holder_head_link">
    <inertial>
      <!-- The following are not reliable values, and should not be used for modeling -->
      <mass value="0.072"/>
      <origin xyz="0 0 0"/>
            <inertia ixx="0.012411765597" ixy="-0.000711733678" ixz="0.00050272983" iyy="0.015218160428" iyz="-0.000004273467" izz="0.011763977943"/>
    </inertial>
      <collision>
        <origin xyz="0.0 0.0 0.0" rpy="0 0 0" />
        <geometry>
          <mesh filename="package://tracebot_description/meshes/components/pump_components/Pump_TwoBottleHolderHead.stl" />
        </geometry>
      </collision>
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <mesh filename="package://tracebot_description/meshes/components/pump_components/Pump_TwoBottleHolderHead.dae" />
        </geometry>
        <material name="grey">
          <color rgba="0.6 0.6 0.6 1.0"/>
        </material>
      </visual>
    </link>

    <link name="${robot_name}_pump_two_bottle_holder_body_link">
    <inertial>
      <!-- The following are not reliable values, and should not be used for modeling -->
      <mass value="0.072"/>
      <origin xyz="0 0 0"/>
            <inertia ixx="0.012411765597" ixy="-0.000711733678" ixz="0.00050272983" iyy="0.015218160428" iyz="-0.000004273467" izz="0.011763977943"/>
    </inertial>
      <collision>
        <origin xyz="0.0 0.0 0.0" rpy="0 0 0" />
        <geometry>
          <mesh filename="package://tracebot_description/meshes/components/pump_components/Pump_TwoBottleHolderBody.stl" />
        </geometry>
      </collision>
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <mesh filename="package://tracebot_description/meshes/components/pump_components/Pump_TwoBottleHolderBody.dae" />
        </geometry>
        <material name="grey">
          <color rgba="0.6 0.6 0.6 1.0"/>
        </material>
      </visual>
    </link>

    <joint name="${robot_name}_pump_base_joint" type="fixed">
      <origin xyz="0.0285 0 -0.155" rpy="0 0 0"/>
      <parent link="${robot_name}_pump"/>
      <child link="${robot_name}_pump_body_link"/>
    </joint>

    <joint name="${robot_name}_pump_display_joint" type="fixed">
      <origin xyz="-0.00915919 0.15685668 0.10888696" rpy="0 0 0"/>
      <parent link="${robot_name}_pump_body_link"/>
      <child link="${robot_name}_pump_display_link"/>
      <axis xyz="1 0 0" />
    </joint>

    <joint name="${robot_name}_pump_head_joint" type="fixed">
      <parent link="${robot_name}_pump_body_link"/>
      <child link="${robot_name}_pump_head_link"/>
      <origin xyz="-0.00485329 -0.00301453 0.00900000" rpy="0.087266463 0 0"/>
      <axis xyz="0 0 1" />
    </joint>

    <xacro:if value="${holder_enabled}">
    <joint name="${robot_name}_pump_holder_joint" type="fixed">
      <origin xyz="-0.25841915 0.11724075 0.28990143" rpy="0 0 -0.20943951"/>
      <parent link="${robot_name}_pump_body_link"/>
      <child link="${robot_name}_pump_holder_link"/>
    </joint>

    <joint name="${robot_name}_pump_holder_constraint_joint" type="fixed">
      <origin xyz="0.07481345 -0.01270087 -0.0589475" rpy="0 0 ${pi/2}"/>
      <parent link="${robot_name}_pump_holder_link"/>
      <child link="${robot_name}_pump_holder_constraint_link"/>
    </joint>

    <joint name="${robot_name}_pump_metal_pipe_joint" type="fixed">
      <origin xyz="-0.16898178 0.07159622 0.11895394" rpy="0 0 0"/>
      <parent link="${robot_name}_pump_body_link"/>
      <child link="${robot_name}_pump_metal_pipe_link"/>
    </joint>
    </xacro:if>

    <joint name="${robot_name}_pump_turn_knob_joint" type="fixed">
      <origin xyz="0.00107401 -0.1608594 -0.01130371" rpy="0 0 0"/>
      <parent link="${robot_name}_pump_body_link"/>
      <child link="${robot_name}_pump_turn_knob_link"/>
    </joint>

    <joint name="${robot_name}_pump_two_bottle_holder_head_joint" type="fixed">
      <origin xyz="0.19965 0.0243139 -0.03445" rpy="0 0 0"/>
      <parent link="${robot_name}_pump_body_link"/>
      <child link="${robot_name}_pump_two_bottle_holder_head_link"/>
    </joint>

    <joint name="${robot_name}_pump_two_bottle_holder_body_joint" type="fixed">
      <origin xyz="0.02710924 -0.0112003 -0.00547147" rpy="0 0 0"/>
      <parent link="${robot_name}_pump_two_bottle_holder_head_link"/>
      <child link="${robot_name}_pump_two_bottle_holder_body_link"/>
    </joint>

  </xacro:macro>

</robot>
